<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/admin.css">
</head>
<body>
    <div class="admin-container">
        <h1>Admin Dashboard</h1>
        <ul>
            <li><a href="{{ url_for('add_doctor') }}">Add Doctor</a></li>
            <li><a href="{{ url_for('list_doctors') }}">View and Manage Doctors</a></li>
        </ul>
    </div>
</body>
</html>
