<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Home</title>
</head>
<body>
    <h1>Doctor Home</h1>

    <!-- Existing Links -->
    <!-- <p><a href="/doctorprofile">Doctor Profile</a></p> -->
    <p><a href="/doctorappointments">Doctor Appointments</a></p>
    <p><a href="/doctormedicaldocs">Search Patient's Documents</a></p>
    <p><a href="/patientspage">Patients Page</a></p>
    <p><a href="/doctorprescriptions">Doctor Prescriptions</a></p>
    <p><a href="/listdoctors">View Doctors</a></p>
    <br>
    <p><a href="/">Back to Login</a></p>


</body>
</html>
