<!--Right now this just displays all medical documents in the table
    TODO: Add Search bar and change query to only documents for the searched patient
-->
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset ="UTF-8">
    <link rel="stylesheet" href="../static/listpage.css">
    <title>Search Patient Documents</title>
</head>
<body>
    <h1> Search Patient Medical Documents</h1>
    <form action ="/list_docs" method="post" enctype="multipart/form-data">
        <input type ="submit" value = "Search">
    </form>
    <table>
        {% if meddocs %}
            <tr>
                <th>Document Name</th>
                <th>Document Type</th>
                <th>Upload Date</th>
                <th>Actions</th>
            </tr>
            {%for doc in meddocs %}
            <tr>
                <td>{{doc.DocName}}</td>
                <td>{{doc.DocType}}</td>
                <td>{{doc.UploadDate}}</td>
                <td>
                    <a href="">View</a>
                    <form action ="" method = "post" style="display: inline"></form>
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this doctor?');">
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        <!--Live Search Text Field
            We query the database for all patients that the 
            logged in doctor has access to and then the 
            list of patients updates as the search bar is updated
        -->
    </table>
    <p><a href="/patientspage">Back to Patient's Page</a></p>

</body>
</html>
