<!DOCTYPE html>
<html>
<head>
    <title>Patient Prescriptions</title>
</head>
<body>   
    <h1>Patient Prescriptions</h1>
    <table border="1">
        <tr>
            <th>Prescription ID</th>
            <th>Appointment ID</th>
            <th>Medication</th>
            <th>Dosage</th>
            <th>Duration</th>
            <th>Notes</th>
        </tr>
        {% for prescription in prescriptions %}
        <tr>
            <td>{{ prescription[0] }}</td>
            <td>{{ prescription[1] }}</td>
            <td>{{ prescription[2] }}</td>
            <td>{{ prescription[3] }}</td>
            <td>{{ prescription[4] }}</td>
            <td>{{ prescription[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><button onclick="window.history.back();" class="back-button">Back</button>    </form>
</body>
</html>
