<!DOCTYPE html>
<html>
<head>
    <title>Patient Appointments</title>
</head>   
    <h1>Patient Appointments</h1>
    <table border="1">
        <tr>
            <th>Appointment ID</th>
            <th>Doctor ID</th>
            <th>Appointment Date</th>
            <th>Purpose</th>
            <th>Notes</th>
        </tr>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment[0] }}</td>
                <td>{{ appointment[2] }}</td>
                <td>{{ appointment[3] }}</td>
                <td>{{ appointment[4] }}</td>
                <td>{{ appointment[5] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br><button onclick="window.history.back();" class="back-button">Back</button>    </form>
</body>
</html>


