<!DOCTYPE html>
<html>
<head>
    <title>Patient Appointments</title>
</head>
<body>
    <h1>Add Patient Appointment</h1>
    <form action="/add_patient_appointment" method="post">
        <label for="patient_id">Patient ID:</label>
        <input type="number" id="patient_id" name="patient_id" required><br><br>
        <label for="doctor_id">Doctor ID:</label>
        <input type="number" id="doctor_id" name="doctor_id" required><br><br>
        <label for="appointment_date">Appointment Date:</label>
        <input type="datetime-local" id="appointment_date" name="appointment_date" required><br><br>
        <label for="purpose">Purpose:</label>
        <input type="text" id="purpose" name="purpose" required><br><br>
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes"></textarea><br><br>
        <input type="submit" value="Submit">
        <button onclick="window.history.back();" class="back-button">Back</button></form>
    
    <h1>Patient Appointments</h1>
    <table border="1">
        <tr>
            <th>Appointment ID</th>
            <th>Doctor ID</th>
            <th>Appointment Date</th>
            <th>Purpose</th>
            <th>Notes</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.AppointmentID }}</td>
            <td>{{ appointment.DoctorID }}</td>
            <td>{{ appointment.AppointmentDate }}</td>
            <td>{{ appointment.Purpose }}</td>
            <td>{{ appointment.Notes }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

