<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/login_register.css">
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        <form id="register-form" action="" method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <div class="role-options">
                <label><input type="radio" name="role" value="patient" required> Patient</label>
                <label><input type="radio" name="role" value="doctor" required> Doctor</label>
            </div>
            <input type="submit" value="Register">
        </form>
        <div class="back-to-signin">
            <a href="{{ url_for('login') }}">Back to Sign in</a>
        </div>
    </div>
</body>
</html>